{% macro name_display(name_entry) %}
    <span class="name {{ name_entry['sex'] }}">
        {{ name_entry['name'] }}
        {% if name_entry['sex'] == 'male' %}
            &male;
        {% elif name_entry['sex'] == 'female' %}
            &female;
        {% else %}
            ?
        {% endif %}
        &nbsp;[{{ name_entry['ipa'] }}]
        &nbsp;{{ name_entry['similarity'] | round(1) }}
    </span>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        span.name {
            display: inline-block;
            border: black 1px solid;
            margin: .5ex;
            padding: .5ex;
        }

        .male {
            color: royalblue;
        }

        .female {
            color: deeppink;
        }
    </style>
</head>
<body>
<h1>Report</h1>

{% for reference_name, similars in similar_names.items() %}
    <h2>Similar Names ({{ similars | length }} names) to {{ reference_name }}</h2>
    {% for name_entry in name_entries_from_names(similars, reference_name, valid_names, distances) | sort(attribute='similarity') %}
        {{ name_display(name_entry) }}
    {% endfor %}
{% endfor %}

{% for reference_name, cluster in names_of_reference_community.items() %}
    <h2>Names of {{ reference_name }}'s Community ({{ cluster | length }} names)</h2>
    {% for name_entry in name_entries_from_names(cluster, reference_name, valid_names, distances) | sort(attribute='similarity') %}
        {{ name_display(name_entry) }}
    {% endfor %}
{% endfor %}
</body>
</html>