{% macro name_display(name_entry) %}
    <tr>
        <th class="{{ name_entry['sex'] }}">
            {{ name_entry['name'] }}
        </th>
        {% if name_entry['sex'] == 'male' %}
            <td>&male;</td>
        {% elif name_entry['sex'] == 'female' %}
            <td>&female;</td>
        {% else %}
            <td>?</td>
        {% endif %}
        <td>[{{ name_entry['ipa'] }}]</td>
        <td class="number">{{ name_entry['similarity'] | round(1) }}</td>
    </tr>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: none;
            padding: 8px;
        }

        th.male {
            background: lightblue;
        }

        th.female {
            background: lightpink;
        }

        td.number {
            text-align: right;
            font-family: monospace;
        }
    </style>
</head>
<body>
<h1>Report</h1>

<h2>Similar Names ({{ similar_names | length }} names) to {{ reference_name }}</h2>
<table>
    <tr>
        <th>Name</th>
        <th>IPA</th>
        <th>Similarity</th>
    </tr>
    {% for name_entry in name_entries_from_ipas(similar_names, valid_names, reference_name_ipa, distances) | sort(attribute='similarity') %}
        {{ name_display(name_entry) }}
    {% endfor %}
</table>

<h2>Names of Reference Community ({{ names_of_reference_community | length }} names)</h2>
<table>
    <tr>
        <th>Name</th>
        <th>IPA</th>
        <th>Similarity</th>
    </tr>
    {% for name_entry in name_entries_from_ipas(names_of_reference_community, valid_names, reference_name_ipa, distances) | sort(attribute='similarity') %}
        {{ name_display(name_entry) }}
    {% endfor %}
</table>
</body>
</html>